.nav-frank-app-link:hover {
  color: #007bff;
}
.active {
  background-color: transparent;
  color: #007bff;
}

@media (min-width: 768px) {
  .cart {
    position: absolute !important;
    margin: -5px 0px 0px -110px !important;
  }
}
