<div class="jumbotron mt-5" *ngIf="auth.user$ | async as user">
    <div class="row flex-lg-nowrap">

        <div class="col-lg-3 ">
            <div class="card left-profile-card">
                <div class="card-body">
                    <div class="text-center">
                        <img *ngIf="user.photoURL" [src]="user.photoURL" [alt]="user.displayName" class="user-profile">
                        <img *ngIf="!user.photoURL" src="https://bootdey.com/img/Content/avatar/avatar2.png"
                            [alt]="user.displayName" class="user-profile">
                        <h3>{{user.displayName}}</h3>
                        <p>World of Internet</p>
                        <div class="d-flex align-items-center justify-content-center mb-3">
                            <i class="fas fa-star text-info"></i>
                            <i class="fas fa-star text-info"></i>
                            <i class="fas fa-star text-info"></i>
                            <i class="fas fa-star text-info"></i>
                            <i class="fas fa-star text-info"></i>
                        </div>
                    </div>
                    <div class="personal-info text-center">
                        <h3>Personal Information</h3>
                        <ul class="personal-list">
                            <li>
                                <fa-icon [icon]="['fas', 'briefcase']"></fa-icon><span>  Web Designer</span>
                            </li>
                            <li>
                                <fa-icon [icon]="['fas','map-marker-alt' ]"></fa-icon><span>  New York</span>
                            </li>
                            <li>
                                <fa-icon [icon]="['far','envelope' ]"></fa-icon><span>  {{user.email}}</span>
                            </li>
                            <li>
                                <fa-icon [icon]="['fas', 'mobile' ]"></fa-icon><span>  1234564343</span>
                            </li>
                        </ul>
                    </div>
                    <div class="skill text-center">
                        <h3>Skills</h3>
                        <p>Adobe Photoshop</p>
                        <div class="progress mb-3">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p>HTML5 &amp; CSS3</p>
                        <div class="progress mb-3">
                            <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p>Javascript &amp; Jquery</p>
                        <div class="progress mb-3">
                            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card right-profile-card">
                <div class="card-header alert-primary">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                role="tab" aria-selected="true">Edit Profile</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">


                    <div class="e-profile">
                        <div class="row">
                            <div class="col-12 col-sm-auto mb-3">

                                <div class="mx-auto sm-width-140">
                                    <div *ngIf="!user.photoURL"
                                        class="d-flex justify-content-center align-items-center rounded"
                                        style="height: 140px; background-color: rgb(233, 236, 239);">
                                        <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                                    </div>
                                    <div *ngIf="user.photoURL"
                                        class="d-flex justify-content-center align-items-center rounded">
                                        <img [src]="user.photoURL" [alt]="user.displayName" class="sm-height-140">
                                    </div>
                                </div>
                            </div>
                            <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                <div class="text-center text-sm-left mb-2 mb-sm-0">
                                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user.displayName}}</h4>
                                    <p class="mb-0">{{user.email}}</p>
                                    <div class="text-muted"><small>Last Login:
                                            {{user.metadata.lastSignInTime}}</small>
                                    </div>
                                    <div class="mt-2">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-fw fa-camera"></i>
                                            <span>Change Photo</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="text-center text-sm-right">
                                    <span class="badge badge-secondary">administrator</span>
                                    <div class="text-muted"><small>Joined
                                            {{user.metadata.creationTime | date}}</small>
                                    </div>

                                    <div class=" ml-auto mt-5">
                                        <button class="btn btn-block btn-secondary" (click)="auth.signOut()">
                                            <i class="fa fa-sign-out"></i>
                                            <span>Logout</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="tab-pane active">
                            <form class="form" novalidate="">
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Full Name</label>
                                                    <input class="form-control" type="text" name="name"
                                                        placeholder="John Smith" [value]="user.displayName">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Username</label>
                                                    <input class="form-control" type="text" name="username"
                                                        placeholder="Username" [value]="user.email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input class="form-control" type="text"
                                                        placeholder="user@example.com" [value]="user.email">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-3">
                                        <div class="mb-2"><b>Phone</b>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Phone Number</label>
                                                    <input class="form-control" type="number" placeholder="+91"
                                                        [value]="user.phone">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                                        <div class="mb-2"><b>Keeping in
                                                Touch</b></div>
                                        <div class="row">
                                            <div class="col">
                                                <label>Email
                                                    Notifications</label>
                                                <div class="custom-controls-stacked px-2">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="notifications-blog" checked="">
                                                        <label class="custom-control-label"
                                                            for="notifications-blog">Blog
                                                            posts</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="notifications-news" checked="">
                                                        <label class="custom-control-label"
                                                            for="notifications-news">Newsletter</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-end">
                                        <button class="btn btn-primary" type="submit">Save
                                            Changes</button>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>